<p class="intro">Thanks for dropping by! Feel free to leave a message.</p>

<div id="messageBoard">
  <% @messages.each do |msg| %>
    <p><%= msg.text %><p>
  <% end %>
</div>

  <%= form_for @message, html: {id:"message-form"} do |f| %>
    <div class="comment-text-box">
      <%= f.text_area :text, id: "message-text-area" %>
    </div>
    <div class="comment-submit">
      <%= f.submit "Submit", id: "submitMessage", :data => { disable_with: false } %>
    </div>
  <% end %>
