<p>Thanks for dropping by! Feel free to leave a message.</p>

<div id="messageBoard">
  <% @messages.each do |msg| %>
    <p><%= msg.text %><p>
  <% end %>
</div>

  <%= form_for @message, html: {id:"message-form"} do |f| %>
    <%= f.text_area :text, id: "message-text-area" %>
    <%= f.submit "Submit", id: "submitMessage", :data => { disable_with: false } %>
  <% end %>
