<h1>Guestbook</h1>
<p>Thanks for dropping by! Feel free to leave a message.</p>

<% @messages.to_a.each do |msg| %>
  <p><%= msg.text %><p>
<% end %>

<%= form_for @message do |f| %>
  <%= f.text_area :text %>
  <%= f.submit "Submit" %>
<% end %>
