// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  text-align: center;
  margin: 0;
}

.title{
  font-family: 'Comfortaa', cursive;
  font-size: 2.5em;
}

.message-board,
.comment-text-box,
.intro,
.footer{
  font-family: 'Roboto', sans-serif;
}

.intro{
  padding-bottom: 1.3em;
}

.message-board{
  width: 31em;
  margin: auto;
  border-top: 2px solid #cdcccc;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.message-board p:last-child{
  margin-bottom: 2em;
}

.comment{
  text-align: left;
  border-bottom: 1px solid rgba(219, 222, 222, 0.8);
  padding: 0.1em 0.8em 0.8em 0.8em;
}

.logo{
  margin-top: 4em;
}

.logo img{
  width: 7em;
}

#message-text-area{
  font-size: 1.2em;
  width: 20em;
  height: 5em;
}

.comment-submit{
  margin-top: 1em;
  text-align: center;
}

input{
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #00bcd4;
  color: white;
  width: 8.5em;
  height: 2.5em;
  font-size: 0.9em;
  border-radius: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form{
  margin-bottom: 3em;
}

.footer{
  padding: 0.6em;
  box-shadow: 0px 16px 20px 6px grey;
  border-top: 1px solid rgba(144, 142, 142, 0.19);
  background: rgba(230, 229, 229, 0.39);
  font-size: 0.8em;
  color: rgba(151, 148, 148, 0.9) ;
}
