// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  font-family: 'Comfortaa', cursive;
  font-size: 2.5em;
  text-align: center;
  margin-top: 4em;
}


.comment-text-box,
.intro{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#message-text-area{
  width: 35em;
  height: 6em;
}

.comment-submit{
  margin-top: 1em;
  text-align: center;
}

input{
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #00bcd4;
  color: white;
  width: 8.5em;
  height: 2.5em;
  font-size: 0.9em;
  border-radius: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
