// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  text-align: center;
  margin: 0;
  background: #f0f0ed;
}

.title{
  font-family: 'Comfortaa', cursive;
  font-size: 2.5em;
}

.message-board,
.comment-text-box,
.intro,
.footer{
  font-family: 'Roboto', sans-serif;
}

.intro{
  padding-bottom: 1.3em;
}

.message-board{
  width: 31em;
  margin: auto;
  border-top: 2px solid #cdcccc;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.message-board p:last-child{
  margin-bottom: 2em;
}

.no-comment{
  color: #42b4c2;
  padding: 0.1em 0.8em 0.8em 0.8em;
}

.comment{
  text-align: left;
  border-bottom: 1px solid rgba(219, 222, 222, 0.8);
  padding: 0.1em 0.8em 0.8em 0.8em;
}

.logo{
  margin-top: 4em;
}

.logo img{
  width: 7em;
}

#message-text-area{
  font-size: 1.1em;
  width: 21em;
  height: 5em;
  padding: 0.3em;
}

.commenter input{
  font-size: 1.1em;
  width: 21em;
  height: 1.12em;
  margin-bottom: 0.3em;
  padding: 0.3em;
}

.comment-submit{
  margin-top: 1em;
  text-align: center;
}

.comment-submit input{
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: #00bcd4;
  color: white;
  width: 8.5em;
  height: 2.5em;
  font-size: 0.9em;
  border-radius: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form{
  margin-bottom: 3em;
}

.footer{
  font-weight: 200;
  padding: 0.6em;
  border-top: 1px solid rgba(144, 142, 142, 0.19);
  background: #D6D6D0;
  font-size: 0.8em;
  color: #8e8e8b;
  position: absolute;
  width: 100%;
  bottom: 0;
}
